@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
    background-color: lavender;
    font-family: 'Merriweather', serif;
}

h1,
h3,
p {
    text-align: center;
}

div {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    margin-top: 300px;
}

button {
    display: flex;
    justify-content: center;
    margin: 10px;
    text-align: center;
    background-color: lightcoral;
    color: whitesmoke;
    border: 1px solid black;
    size: 5px;
}

hr {
    width: 80%;
}